body {
	background: #F3F3F3;
}

header {
	background-color: #ECEAEB;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 10;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

.header-right-links {
	width: 100%;
}

.client-details {
	position: relative;
	top: 50px;
}

.mid {
	width:55%;
	margin:auto;
}

#cover-photo{
	position: relative;
}

#cover-photo .header{
	width: 100%;
	color:white;
	position: absolute;
	bottom: 0px;	
	padding-left: 10px;	
	background:url(/images/bg.png) bottom left repeat-x;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#cover-photo img {
	margin-top: 4px;
	width: 100%;
	height: 250px;
	border-radius: 5px;
}

.section-margin {
	margin-top: 15px;
	margin-bottom: 15px;
}

.address {
	padding: 5px 20px;
}

#map-location {
	width: 100%;
	height: 125px;
}

.white-box {
	border: 1px solid #E6E6E6;
	background-color: white;
}

.about-box {
	padding-top: 15px;
	padding-bottom: 15px;
}

.box-heading {
	margin: 0 15px;
}

.about-box .box-details {
	margin: 10px 20px 0;
	font-size: 12px;
}

.box-content-height-limit {
	max-height: 115px;
	overflow-y: hidden;
}

.show-more-link, .show-less-link {
	text-align: right;
	margin-right: 15px;
}

.show-more-link a, .show-less-link a {
	cursor: pointer;
	font-size: 13px;
}

.display-none {
	display: none;
}

.photos img {
	width: 100%;
	height: 90px;
}

.last-thumbnail {
	position: relative;
}

.last-thumbnail	a:hover{
	text-decoration: none;
}

.plus {
	color: white;
	background-color:  #F63854;
	font-size: 48px;
	text-align: center;
	height: 90px;
	line-height: 90px;
	opacity: 0.7;
	width: 100%;
}

.hidden-thumbnail {
	width: 0;
	height: 0;
}

.right-side-left-margin {
	margin-left: 15px;
}

.essentials-box {
	padding-top: 8px;
	padding-bottom: 4px;
}

.essentials ul, .offerings ul {
	padding: 0;
	margin: 0;
}

.no-list-style-type {
	list-style-type: none;
}

.inline-display li {
	display: inline;
}

.essentials-icons {
	margin: 0 6px;
}

.essential {
	margin-left: 9px;
	margin-right: 9px;
	width: 19px;
	height: 19px;
	display: inline-block;
}

.offering {
	border: 1px solid #E6E6E6;
	padding: 5px 15px;
	background-color: white;
	line-height: 35px;
	white-space: nowrap;
	font-size: 12px;
}

.ul-no-list-style-type {
	list-style-type: none;
}

.ul-no-extra-padding {
	padding: 0;
}

.time-slots {
	margin-left: -3px;
	margin-right: -3px;
}

.time-slot {
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 15px;
}

.time-slot button {
	padding: 6px 0 0;
}

.time-slot .slot-time {
	font-size: 16px;
}

.time-slot .sub-type {
	background-color:#F3F3F3;
	margin: 3px;
	padding: 3px;
	font-size: 11px;
}

.book-button-row .slot-date-column {
	padding-right: 0;
}

.book-button-row .slot-date {
	padding: 6px 0;
	text-align: center;
	font-size: 16px;
}

.book-button {
	background-color: #F63854;
	color: white;
	border-radius: 0;
}