@charset "UTF-8";
/*
 * Bootstrap Image Gallery Demo CSS 3.0.0
 * https://github.com/blueimp/Bootstrap-Image-Gallery
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.clearfix{
	clear: both;
}

.clearfix::before{
	clear: both;
}

.clearfix::after{
	clear: both;
}

* {
	font-family: 'Open Sans', sans-serif;
}

#footer {
	height: 50px;
	background-color:gray;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: none;
}