header {
	background-color: #ECEAEB;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 10;
}

body {
	background-color: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

.header-right-links {
	width: 100%;
}

.below-header {
	position: relative;
	top: 50px;
}

.mid-page {
	width: 95%;
	margin: auto;
}

.below-header {
	color: gray;
}

#top-block {
	padding-top: 20px;
}

#revenue-block {
	padding-right: 2px;
	text-align: center;
	font-size: 16px;
}

#logged-in-as-block {
	padding-left: 2px;
}

.white-box {
	background-color: white;
	border: 1px solid #E6E6E6;
}

#revenue-white-box, #logged-in-as-white-box {
	height: 100px;
}

.revenue-block-heading {
	margin-top: 20px;
}

.revenue-block-value {
	margin-top: 10px;
}

#heading-revenue {
	color: #F63854;
	font-size: 18px;
}

/*
#month {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
}

#month-name {
	padding-top: 0px;
	padding-bottom: 5px;
	background-color: #F3F3F3;
}*/

#revenue-white-box button.btn.dropdown-toggle.btn-default {
	margin: 5px 10px 0;
	background-color: #F3F3F3;
	border: 0;
}

#revenue-white-box .dropdown-toggle .filter-option {
	text-align: center;
	color: gray;
}

#revenue-white-box .btn {
	padding-top: 4px;
	padding-bottom: 4px;
}

#logged-in-as-white-box {
	padding: 15px;
}

#logged-in-as-white-box #client-name {
	font-size: 15px;
	font-weight: 600;
}

#logged-in-as-white-box #logout-button {
	margin-top: 10px;
	padding: 0;
	float: right;
	color: #F63854;
}

#todays-clients-block {
	margin-top: 10px;
}

#todays-clients-white-box {
	min-height: 400px;
}

#todays-clients-white-box #table {
	margin-left: 150px;
	margin-right: 150px;
}

#todays-clients-white-box #table-heading-row {
	margin: 0 40px;
	padding: 20px 0;
	border-bottom: 5px solid #F4F4F4;
	color: #F63854;
	font-size: 18px;
	text-align: center;
}

#todays-clients-white-box #column-headings-row {
	margin: 20px 0;
	color: #F63854;
	font-size: 18px;
}

#todays-clients-white-box #table-content {
	font-size: 16px;
}

#todays-clients-white-box .table-content-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

