header {
	background-color: #ECEAEB;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 10;
}

body {
	background-color: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

.header-right-links {
	width: 100%;
}

.below-header {
	position: relative;
	top: 50px;
}

.mid-page {
	width: 95%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.table {
	background-color: white;
	/*text-align: center;*/
	padding: 10px 30px;
	min-height: 500px;
	border: 1px solid #E6E6E6;
}

.table-headings-row {
	color: #F63854;
	border-bottom: 5px solid #F4F4F4;
}

.table-entries * {
	font-size: 13px;
	color: gray;
}

.heading-box {
	padding: 15px 0;
}

/*
.gap {
	margin-left: -15px;
	margin-right: -15px;
}

.last-column .gap {
	margin-right: 0;
}
*/


.table-entries .form-group {
	margin-bottom: 0;
}

.table-entries-row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.add-button {
	height: 34px;
	padding: 0;
	font-size: 25px;
	color: #F63854;
}

