header {
	background-color: #ECEAEB;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 10;
}

body {
	background-color: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

.header-right-links {
	width: 100%;
}

/*ul.no-list-style-stype {
	list-style-type: none;
}

.header-links {
	float: right;
	padding-right: 200px;
	margin: 0;
	line-height: 50px;
}

.header-links li {
	display: inline;
	padding: 0 25px;
}

.header-links a {
	text-decoration: none;
	color: black;
}*/

.below-header {
	position: relative;
	top: 50px;
}

.mid-page {
	width: 95%;
	margin: auto;
	padding-top: 20px;
}

.table-block {
	background-color: white;
	min-height: 500px;
}

.table-headings-row {
	font-size: 16px;
}

.table-headings-border-bottom {
	margin: 0 30px;
	border-bottom: 5px solid #F4F4F4;
}

.heading-box {
	background-color: white;
	padding: 15px 0px;
	/*margin-right: -25px;*/
	color: #F63854;
}

.last-column .heading-box {
	margin-right: 0;
}

.table-entries-block {
	padding-top: 5px;
	font-size: 14px;
}

.selection-area {
	margin-top: 20px;
	padding: 0 20px;
	text-align: center;
}

.selection-area .selection-area-element {
	margin-top: 20px;
}

.selection-area .selection-heading {
	font-size: 16px;
	color: #F63854;
}

/*.month-select, .time-slot-select, .activity-select {
	background-color: #F3F3F3;
}*/

.selection-area .btn {
	padding-top: 4px;
	padding-bottom: 4px;
}

.selection-area button.btn.dropdown-toggle.btn-default {
	background-color: #F3F3F3;
	border: 0;
}

.selection-area .dropdown-toggle .filter-option {
	color: gray;
	text-align: center;
}

.table-entries-row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-entry {
	padding-right: 25px;
}

.before-today {
	color: gray;
}

.today {
	/*color: #F63854;*/
	color: gray;
}
