.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.cover-photo .container-fluid, .cover-photo .navbar-collapse {
	padding: 0;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

/*.navbar-default .navbar-nav>li>a:hover {
	color: #F63854;
}*/

.cover-photo {
	background-image: url('/images/home-photo.jpg');
	width: 100%;
	height: 700px;
	background-size: contain;
	padding: 0 100px;
}


.cover-photo .cover-text {
	margin-top: 50px;
	/*margin-left: 5%;
	width: 40%;*/
	color: white;
}

.cover-photo .cover-text-heading-1 {
	font-size: 25px;
	font-weight: 900;
}

.cover-photo .cover-text-heading-2 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 900;
}

.cover-photo .cover-text-paragraph {
	font-size: 16px;
	font-weight: 600;
}


.box {
	margin-top: 50px;
	/*margin-left: 70%;*/
	width: 250px;
	padding: 0;
	background-color: #F0F0F0;
	float: right;
}


.heading-row {
	font-size: ;
}

.heading-row-column {
	cursor: pointer;
}

.heading-row-left-column {
	margin-right: -15px;
}

.heading-row-right-column {
	margin-left: -15px;
}

.inactive-tab {
	background-color: #D7D7D7;
}

.heading-row-column-content {
	text-align: center;
	padding: 10px 0;
}

.display-none {
	display: none;
}

.box-below-heading {
	padding: 20px 20px 30px;
}

.login-row {
	margin: 10px 0;
}

.login-button-row {
	margin: 15px 0;
}

.username-row, .password-row {
	background-color: white;
	padding: 10px 20px;
	border: 1px solid #E8E8E8;
	width: 100%;
	font-size: 14px;
}

.login-button, .fb-login-button, .google-login-button {
	border-radius: 0;
	color: white;
}

.login-button {
	background-color: #F63854;
	padding: 8px 0;
	font-size: 14px;
}

.fb-login-button, .google-login-button {
	padding: 6px 20px;
	text-align: left;
	font-size: 12px;
}

.fb-login-button {
	background-color: #3B5999;
}

.google-login-button {
	background-color: #DF4A32;
}


.signup-row {
	margin: 10px 0;
}

.signup-button-row {
	margin: 15px 0;
}

.input-row {
	background-color: white;
	padding: 10px 20px;
	border: 1px solid #E8E8E8;
	width: 100%;
	font-size: 14px;
}

.signup-button {
	border-radius: 0;
	color: white;
	background-color: #F63854;
	padding: 8px 0;
	font-size: 14px;
}

.how-it-works-section {
	padding: 100px 100px;
	background-color: #4E4E4E;
	color: #C5C5C5;
}

.how-it-works-section .icons-section {
	text-align: center;
}

.how-it-works-section .text-under-icon {
	font-size: 20px;
	font-weight: 600;
	margin-top: 25px;
}

.how-it-works-section .bullets-section {
	margin-top: 75px;
}

.how-it-works-section .bullets-section-heading {
	font-size: 25px;
	font-weight: 600;
	margin: 20px 0;
}

.how-it-works-section .bullets ul {
	padding-left: 17px;
}

.how-it-works-section .bullets ul li {
	margin: 10px 0;
	font-size: 18px;
	font-weight: 600;
}


.activities-section, .our-partners-section {
	padding: 100px 100px;
}

.activities-section .activities-heading, .our-partners-section .our-partners-heading {
	margin-bottom: 50px;
	color: #747474;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 0.05em;
}

.activities-section .activities-row {
	margin-top: 30px;
}

.activities-section .activity-box {
	position: relative;
}

.activities-section .activity-image {
	width: 100%;
	height: 300px;
}

.activities-section .activity-name-box, .activities-section .activity-name-heading-box, .activities-section .activity-subtypes-box {
	position: absolute;
	background-color: #F63854;
	opacity: 0.8;
	z-index: 100;
	left: 0;
	width: 100%;
}

.activities-section .activity-name-box, .activities-section .activity-name-heading-box {
	height: 60px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;

	color: white;
	font-size: 30px;
	font-weight: 600;
}

.activities-section .activity-name-box {
	top: 240px;
}

.activities-section .activity-name-heading-box {
	top: 0px;
}

.activities-section .activity-subtypes-box {
	top: 60px;
	height: 240px;
	line-height: 240px;

	color: white;
	font-size: 25px;
	font-weight: 600;
}

.activities-section .activity-name, .activities-section .activity-subtypes-names {
	line-height: normal;
}

.activities-section .activity-name {
	display: inline-block;
	vertical-align: middle;
}


.activities-section .activity-subtypes-box .sub-type {
	margin: 10px 70px;
}



.our-partners-section .partner-logo {
	width: 100%;
	height: 150px;
}






.footer {
	padding: 50px 100px;
	background-color: #4E4E4E;
	color: #C5C5C5;
	font-size: 20px;
	font-weight: 600;
}

.footer-section-heading {
	margin-bottom: 20px;
}

.footer a, .footer a:hover {
	color: #C5C5C5;
	text-decoration: none;
}

.footer .learn-more-link {
	margin: 5px 0;
}

.footer .contact-email {
	margin: 15px 0;
}



/*For Carousel Arrows (default is whitee)*/
.slick-prev:before, .slick-next:before { 
    color: black !important;
}
