.ac-icon {
	background: url('/images/icons/ac.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ac-inactive-icon {
	background: url('/images/icons/ac-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.field-icon {
	background-image: url('/images/icons/field.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.field-inactive-icon {
	background-image: url('/images/icons/field-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.kids-icon {
	background-image: url('/images/icons/kids.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.kids-inactive-icon {
	background-image: url('/images/icons/kids-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ladies-only-icon {
	background-image: url('/images/icons/ladies-only.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ladies-only-inactive-icon {
	background-image: url('/images/icons/ladies-only-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.locker-icon {
	background-image: url('/images/icons/locker.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.locker-inactive-icon {
	background-image: url('/images/icons/locker-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.parking-icon {
	background-image: url('/images/icons/parking.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.parking-inactive-icon {
	background-image: url('/images/icons/parking-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.shower-icon {
	background-image: url('/images/icons/shower.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.shower-inactive-icon {
	background-image: url('/images/icons/shower-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.wifi-icon {
	background-image: url('/images/icons/wifi.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.wifi-inactive-icon {
	background-image: url('/images/icons/wifi-inactive.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}