* {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #ECEAEB;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 10;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

.header-right-links {
	width: 100%;
}

.below-header {
	padding-top: 50px;
}

.container-left {
	background-color: #F63854;
	padding: 0px 10px;
	/*height: 100%;*/
}

.position-fixed {
	position: fixed;
}

.bottom-0 {
	bottom: 0;
}

.left-filters {
	padding: 30px 0px;
}

.container-left .filters-block {
	padding: 10px 10px;
}

.filters-heading {
	color: white;
}

.up, .down {
	color: white;
}

input[type=checkbox] {
	margin: 10px 0;
}

form {
	margin: 0;
}

.apply {
	text-align: center;
}

.client-element {
	height: 250px;
	background-color: #F5F5F5;
	overflow: hidden;
}

.container-right {
	padding: 0 50px;
	float: right;
}

#top-filters {
	padding: 20px 0;
	margin-left: -30px;
	/*position: fixed;*/
	top: 50px;
	width: 100%;
	background-color: white;
	z-index: 8;
}

.top-filter {
	color: #F63854;
	padding: 0 20px;
	text-align: center;
}

label {
	font-weight: 400;
}

/*For top filters without selectpicker*/
.top-filter .form-control {
	font-size: 12px;
	height: 25px;
	padding: 0 12px;
	color: #F63854;
}


/*For top filters with selectpicker*/
.top-filter .form-control * {
	font-size: 12px;
	color: #F63854;
}

/*For top filters with selectpicker*/
.top-filter .form-control .btn-default {
	padding: 0 25px 0 12px;
	height: 25px;
}

/*For input fields with selectpicker multiselect*/
span.filter-option {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.top-right {
	padding: 22px 0;
}

.top-apply {
	padding: 22px 30px 0 30px;
}

#results {
	margin-top: 70px;
}

.icon {
	width: 100%;
	height: 100%;
}

.client-element {
	padding: 15px 0;
	margin-bottom: 10px;
}

.ul-no-extra-padding-margin {
	padding: 0;
	margin: 0;
}

.ul-no-list-style-type {
	list-style-type: none;
}

.inline li {
	display: inline;
}

.inline-display li {
	display: inline;
}

.middle .name, .middle .address {
	margin-bottom: 10px;
}

.name h4 {
	margin-top: 0;
}

.address {
	font-size: 12px;
}

.offerings ul {
	padding: 0;
	margin: 0;
}

.offering {
	border: 1px solid #E6E6E6;
	padding: 8px 15px;
	background-color: white;
	line-height: 40px;
	white-space: nowrap;
	font-size: 13px;
}

.essential {
	margin: 5px 20px;
	width: 25px;
	height: 25px;
	display: inline-block;
}


#slots-heading {
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
}

.time-slot {
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 15px;
}

.time-slot button {
	padding: 6px 0 0;
}

.white-box {
	border: 1px solid #E6E6E6;
	background-color: white;
}

.time-slot .slot-time {
	font-size: 16px;
}

.time-slot .sub-type {
	background-color:#F3F3F3;
	margin: 3px;
	padding: 3px;
	font-size: 12px;
	color: gray;
}

.book-button {
	background-color: #F63854;
	color: white;
	border-radius: 0;
}

.ul-circle-list-style-type {
	list-style-type: circle;
}

.slot-selected {
	background-color: #F63854;
	color: white;
}

.slot-not-selected {
	background-color: white;
	color: #F63854;
	border-color: rgb(204,204,204);
}

.slot-selected, .slot-not-selected {
	padding-top: 4px;
	padding-bottom: 4px;
}

.book-button > .row {
	margin: 0;
}

