.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.cover-photo .container-fluid, .cover-photo .navbar-collapse {
	padding: 0;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.header-logo {
	height: 300%;
	margin-top: -20px;
}

/*.navbar-default .navbar-nav>li>a:hover {
	color: #F63854;
}*/

.cover-photo {
	
	width: 100%;
	height: 700px;
	background-size: contain;
	padding: 0 100px;
}

.cover-photo .cover-text {
	margin-top: 50px;
	color: white;
}

.cover-photo .cover-text-heading-1 {
	font-size: 25px;
	font-weight: 900;
}

.cover-photo .cover-text-heading-2 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 900;
}

.cover-photo .cover-text-paragraph {
	font-size: 16px;
	font-weight: 600;
}


.cover-photo .login-signup {
	float: right;
}

.cover-photo .box {
	margin-top: 50px;
	width: 250px;
	padding: 0;
	background-color: #F0F0F0;
}

.cover-photo .heading-row {
	cursor: pointer;
}

.cover-photo .heading-row-content {
	text-align: center;
	padding: 10px 0;
}

.cover-photo .box-below-heading {
	padding: 20px 20px 30px;
}

.cover-photo .login-row {
	margin: 10px 0;
}

.cover-photo .login-button-row {
	margin: 15px 0;
}

.cover-photo .username-row, .cover-photo .password-row {
	background-color: white;
	padding: 10px 20px;
	border: 1px solid #E8E8E8;
	width: 100%;
	font-size: 14px;
}

.cover-photo .login-button {
	border-radius: 0;
	color: white;
	background-color: #F63854;
	padding: 8px 0;
	font-size: 14px;
}

.cover-photo .signup-form-link {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	text-align: center;
}

.signup-form-link a, .signup-form-link a:hover {
	color: white;
	text-decoration: none;
}




.benefits-with-fitrr-section {
	padding: 100px 250px;
	background-color: #4E4E4E;
	color: #C5C5C5;
}

.benefits-with-fitrr-section .benefits-with-fitrr-heading {
	margin-bottom: 50px;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 0.05em;
}

.benefits-with-fitrr-section .benefit {
	margin-top: 50px;
	margin-bottom: 50px;
}

.benefits-with-fitrr-section .benefit-icon {
	height: 170px;
	text-align: center;
}

.benefits-with-fitrr-section .heading-under-icon {
	font-size: 20px;
	font-weight: 600;
}

.benefits-with-fitrr-section .text-under-icon {
	font-size: 17px;
	font-weight: 600;
	margin-top: 25px;
}



.our-partners-section {
	padding: 100px 100px;
}

.our-partners-section .our-partners-heading {
	margin-bottom: 50px;
	color: #747474;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 0.05em;
}

.our-partners-section .partner-logo {
	width: 100%;
	height: 150px;
}



.join-us-section {
	padding: 50px 200px;
}

.join-us-section .join-us-heading, .join-us-section .join-us-subheading {
	margin-bottom: 25px;
	color: #747474;
	text-align: center;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.join-us-section .join-us-heading {
	font-size: 35px;
}

.join-us-section .join-us-subheading {
	font-size: 20px;
}

.join-us-section .signup-field {
	padding: 20px;
	height: 90px;
}


.join-us-section .details-signup-field {
	padding: 20px;
	height: 180px;
}

.join-us-section .details-input-field {
	padding: 10px 40px;
	height: 140px;
	width: 100%;
	font-size: 20px;
	color: #C6C6C6;
	border: 4px solid #C6C6C6;
	border-radius: 5px;
}


.join-us-section .submit-button {
	border-radius: 0;
	color: white;
	background-color: #F63854;
	padding: 0;
	font-size: 20px;
	line-height: 48px;
	border-radius: 5px;
	font-weight: 700;
}



.footer {
	padding: 50px 100px;
	background-color: #4E4E4E;
	color: #C5C5C5;
	font-size: 20px;
	font-weight: 600;
}

.footer-section-heading {
	margin-bottom: 20px;
}

.footer a, .footer a:hover {
	color: #C5C5C5;
	text-decoration: none;
}

.footer .learn-more-link {
	margin: 5px 0;
}

.footer .contact-email {
	margin: 15px 0;
}
